<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!-- Add your connection string here -->
	<add name="DefaultContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DefaultDB.mdf;Integrated Security=True" />
</connectionStrings>