<?xml version="1.0"?>
<log4net>
	<!-- Define some output appenders -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<maximumFileSize value="1MB" />
		<file value="AppLogs.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<datePattern value="_yyyy-MM-dd-HHmm.\tx\t"/>
		<staticLogFileName value="true"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%date [%thread] %level [%logger{2}] - %message%newline"/>
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFile"/>
	</root>
</log4net>