<div class="card-header">
    <h3 class="card-title">@ViewData["title"]</h3>
    @if (ViewData.ContainsKey("cardtools") && ((bool)ViewData["cardtools"] ))
    {
    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
    </div>
    }
</div>